<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.rajat.minivie" >
    <uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-sdk android:minSdkVersion="7"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity
            android:name="com.test.rajat.minivie.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity android:name="com.test.rajat.minivie.DetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Movie"></activity>
        <activity android:name="com.test.rajat.minivie.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="OMDB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            </activity>
        <activity android:name="com.test.rajat.minivie.BaseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="OMDB"></activity>
        <activity  android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.test.rajat.minivie.WatchlistActivity"></activity>

        <activity  android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.test.rajat.minivie.LatestActivity"
            android:label="Latest"></activity>
        <!--<activity android:name="com.facebook.FacebookActivity"-->
            <!--android:configChanges=-->
                <!--"keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
            <!--android:label="@string/app_name" />-->
    </application>

</manifest>
